@model EditSprintViewModel

@{
    ViewBag.Title = "Edit string";
}

<div class="content is-medium">
    <h2>Edit string</h2>
</div>
<div class="box">
    <form method="post" asp-action="Edit" asp-controller="Sprint">
        <input type="hidden" asp-for="SprintId" />
        <div asp-validation-summary="ModelOnly"></div>
        <div class="field">
            <label class="label" asp-for="Name">Sprint title</label>
            <div class="control">
                <input class="input" asp-for="Name" value="@Model.Name" />
                <span asp-validation-for="Name" class="error-message"></span>
            </div>
        </div>

        <div class="field">
            <label class="label" asp-for="Features">Features and hypothesis</label>
            @foreach (var feature in Model.PosibleFeatures)
            {
                <label class="checkbox">
                    <input type="checkbox" value="@feature.ID" name="Features" checked=@Model.Features.Contains(feature.ID) />
                    @feature.Name [@(feature.IsFeature ? "Фича" : "Гипотеза")]
                </label>
                <br />
            }
            <span asp-validation-for="Features" class="error-message"></span>
        </div>
        <br />

        <div class="field">
            <label class="label" asp-for="StartDate">Sprint start date</label>
            <div class="control">
                <input type="datetime-local" asp-for="StartDate" value="@Model.StartDate.ToString("yyyy-MM-ddTHH:mm:ss")" />
                <span asp-validation-for="StartDate" class="error-message"></span>
            </div>
        </div>
        <br />
        <div class="field">
            <label class="label" asp-for="EndDate">Sprint end date</label>
            <div class="control">
                <input type="datetime-local" asp-for="EndDate" value="@Model.EndDate.ToString("yyyy-MM-ddTHH:mm:ss")" />
                <span asp-validation-for="EndDate" class="error-message"></span>
            </div>
        </div>
        <div class="has-text-centered">
            <button class="button is-primary">Save</button>
        </div>
    </form>
</div>