@model SprintViewModel
@{
    ViewBag.Title = "Sprints";
}

<div class="column box gray-container">
    <div class="container-text-button">
        <span class="bold">List of sprints: </span> <!--Список всех спринтов -->
        @if (User.IsInRole("Manager"))
        {
            <a class="button add-button is-gray is-40-height"
               asp-controller="Sprint"
               asp-action="New">
                Add new sprint
            </a>
        }
    </div>
    @if (Model.SprintError)
    {
        <span class="error-message">*You can't create a sprint without selecting a feature or hypothesis</span>
        <br />
    }
    @if (Model.NoneError)
    {
        <span class="error-message">*It is impossible to create a sprint while the project does not have any hypotheses or features (Discovery or Development status)</span>
        <br />
    }
    @foreach (var sprint in Model.Sprints)
    {
        <div class="box word-break">
            <div class="columns">
                <div class="column is-four-fifths">
                    <p><span class="bold">Title:</span> @sprint.Name</p>
                    <p><span class="bold">Timing:</span> (@sprint.StartDate.ToShortDateString() --- @sprint.EndDate.ToShortDateString())</p>

                    <div class="container-text-button">
                        <span class="bold">Features and hypothesis list: </span>
                        @if (User.IsInRole("Manager"))
                        {
                            <a class="button add-button is-gray is-40-height"
                               asp-controller="Sprint"
                               asp-action="AddFeature"
                               asp-route-id="@sprint.ID">
                                Add new feature or hypothesis
                            </a>
                        }
                    </div>

                    <table>
                        <tbody>
                            <tr>
                                <th style="min-width:80px"></th>
                                <th></th>
                                <th style="min-width:25px"></th>
                                <th style="min-width:25px"></th>
                            </tr>
                            @foreach (var feature in sprint.Features.OrderBy(x => x.IsFeature))
                            {
                                <tr>
                                    @if (feature.IsFeature)
                                    {
                                        <td>Feature:</td>
                                        <td>@feature.Name [@feature.State]</td>
                                        @if (User.IsInRole("Manager"))
                                        {
                                            <td>
                                                <a class="button edit-button is-gray is-40-height"
                                                   asp-controller="Feature"
                                                   asp-action="Edit"
                                                   asp-route-id="@feature.ID">
                                                    Edit
                                                </a>
                                            </td>

                                        }
                                    }
                                    else
                                    {
                                        <td>Hypothesis:</td>
                                        <td>@feature.Name</td>
                                        @if (User.IsInRole("Manager"))
                                        {
                                            <td>
                                                <a class="button edit-button is-gray is-40-height"
                                                   asp-controller="Hypothesis"
                                                   asp-action="Edit"
                                                   asp-route-id="@feature.ID">
                                                    Edit
                                                </a>
                                            </td>
                                        }
                                    }
                                    @if (User.IsInRole("Manager"))
                                    {
                                        <td>
                                            <a class="button delete-button is-gray is-40-height"
                                                asp-controller="Sprint"
                                                asp-action="DeleteFeature"
                                                asp-route-id="@feature.ID"
                                                asp-route-taskId="@sprint.ID">
                                                 Delete
                                            </a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @if (User.IsInRole("Manager"))
                {
                    <div class="column">
                        <a class="button is-red is-fullwidth" style="margin-bottom: 0.5%"
                           asp-controller="Sprint"
                           asp-action="Edit"
                           asp-route-id="@sprint.ID">Edit Sprint</a>
                        <a class="button is-red is-fullwidth" style="margin-bottom: 0.5%"
                           asp-controller="Sprint"
                           asp-action="Delete"
                           asp-route-id="@sprint.ID">Delete Sprint</a>
                    </div>
                }
            </div>
        </div>
    }
</div>
