@model SprintViewModel
@{
    ViewBag.Title = "Sprints";
}

<div class="column box gray-container">
    <h2 class="bold">Команды для задач</h2>
    <br />

    @if (Model.SprintError) 
    {
        <span class="error-message">*Нельзя создать спринт без указания фичи</span>
        <br />
    }
    <!--Раскоментить когда релизную версию выкатывать будем-->
    @foreach (var sprint in Model.Sprints)
    {
        <!-- todo Добавить даты сроков спринта после названия -->
        <span class="bold">@sprint.Name <!--@* (@sprint.Start — @sprint.End *@)--> </span>
        <div class="box word-break">
        @foreach (var feature in sprint.Features)
        {
            <p>@feature.Name</p>
        }
            <form method="get" onclick="this.submit()" asp-action="AddFeature" asp-controller="Sprint">
                <div class="is-flex center-element">
                    <input type="hidden" asp-for="SprintId" value="@sprint.ID" />
                    <img class="plus-button" src="~/img/plus.svg" />
                </div>
            </form>

            <form method="get" asp-action="Edit" asp-controller="Sprint">
                <input type="hidden" asp-for="SprintId" value="@sprint.ID" />
                <button>Change Sprint</button>
            </form>
            <form method="get" asp-action="Delete" asp-controller="Sprint">
                <input type="hidden" asp-for="SprintId" value="@sprint.ID" />
                <button>Delete Sprint</button>
            </form>
        </div>
    }

    <!-- Кнопка добавления нового спринта-->
    <form method="get" onclick="this.submit()" asp-action="New" asp-controller="Sprint">
        <div class="is-flex center-element">
            <input type="hidden" asp-for="ProductId" />
            <img class="plus-button" src="~/img/plus.svg" />
        </div>
    </form>
</div>