@model SprintViewModel
@{
    ViewBag.Title = "Sprints";
}

<div class="column box gray-container">
    <div class="container-text-button">
        <span class="bold">Список всех спринтов </span>
        @if (User.IsInRole("Manager"))
        {
            <div class="container-text-button_button">
                <a class="is-32-height"
                   asp-controller="Sprint"
                   asp-action="New">
                    <img class="plus-button" src="~/img/plus-square.svg" />
                </a>
            </div>
        }
    </div>
    @if (Model.SprintError)
    {
        <span class="error-message">*Нельзя создать спринт без указания фичи</span>
        <br />
    }
    @foreach (var sprint in Model.Sprints)
    {
        <div class="box word-break">
            <div class="columns">
                <div class="column is-four-fifths">
                    <p><span class="bold">Название:</span> @sprint.Name</p>
                    <p><span class="bold">Сроки:</span> (@sprint.StartDate --- @sprint.EndDate)</p>

                    <div class="container-text-button">
                        <span class="bold">Список фич и гипотез: </span>
                        @if (User.IsInRole("Manager"))
                        {
                            <div class="container-text-button_button ">
                                <a class="is-24-height"
                                   asp-controller="Sprint"
                                   asp-action="AddFeature"
                                   asp-route-id="@sprint.ID">
                                    <img class="plus-button" src="~/img/plus.svg" />
                                </a>
                            </div>
                        }
                    </div>

                    <table>
                        <tbody>
                            <tr>
                                <th style="min-width:80px"></th>
                                <th></th>
                                <th style="min-width:25px"></th>
                                <th style="min-width:25px"></th>
                            </tr>
                            @foreach (var feature in sprint.Features.OrderBy(x => x.IsFeature))
                            {
                                <tr>
                                    @if (feature.IsFeature)
                                    {
                                        <td>Фича:</td>
                                        <td>@feature.Name [@feature.State]</td>
                                    }
                                    else
                                    {
                                        <td>Гипотеза:</td>
                                        <td>@feature.Name</td>
                                    }
                                    @if (User.IsInRole("Manager"))
                                    {
                                        <td>
                                            <a class="is-24-height"
                                               asp-controller="Feature"
                                               asp-action="Edit"
                                               asp-route-id="@feature.ID">
                                                <img class="edit-button" src="~/img/edit.svg" />
                                            </a>
                                        </td>
                                        <td>
                                            <a class="is-24-height"
                                               asp-controller="Sprint"
                                               asp-action="DeleteFeature"
                                               asp-route-sprintId="@sprint.ID"
                                               asp-route-featureId="@feature.ID">
                                                <img class="delete-button" src="~/img/trash.svg" />
                                            </a>
                                        </td>
                                    }

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @if (User.IsInRole("Manager"))
                {
                    <div class="column">
                        <a class="button is-red is-fullwidth" style="margin-bottom: 0.5%"
                           asp-controller="Sprint"
                           asp-action="Edit"
                           asp-route-id="@sprint.ID">Edit Sprint</a>
                        <a class="button is-red is-fullwidth" style="margin-bottom: 0.5%"
                           asp-controller="Sprint"
                           asp-action="Delete"
                           asp-route-id="@sprint.ID">Delete Sprint</a>
                    </div>
                }
            </div>
        </div>
    }
</div>
