@model ProjectViewModel

@{
    ViewBag.Title = "Просмотр проекта";
}

<div class="text-info">
    <span>Название продукта: @Model.CurrentProject.Name</span>
    <br />
    <span>Виденье продукта: @Model.CurrentProject.Vision</span>
    <br />
    <span>Миссия продукта: @Model.CurrentProject.Mission</span>
    <br />
    <span>Формула продукта: @Model.CurrentProject.ProductFormula</span>
</div>
<div class="metrics">
    <h2>Метрики</h2>
    @foreach (var metric in Model.CurrentProject.Metrics)
    {
        <span>Название: @metric.Name</span>
        <span>Описание: @metric.Description</span>
        <br />
    }
    @{ 
    string text = "Добавить новую метрику";
    if (Model.CurrentProject.Metrics.Count == 0)
        text = "Добавить новую НСМ метрику";
    }
    <button onclick="window.location.href='../Metric/New?projectId=@Model.CurrentProject.ID'">@text</button>

</div>
<div class="sprints">
    <h2>Спринты</h2>
    @foreach(var sprint in Model.CurrentProject.Sprints)
    {
    <span>Название: @sprint.Name</span>
    <button>Изменить состояние</button>
    <br />
    }
    <button onclick="window.location.href='../Sprint/New?projectId=@Model.CurrentProject.ID'">Добавить новый спринт</button>

</div>
