@model ProjectViewModel

@{
    ViewBag.Title = "Просмотр проекта";
}

<div class="text-info">
    <span>Название продукта: @Model.Name</span>
    <br />
    <span>Виденье продукта: @Model.Vision</span>
    <br />
    <span>Миссия продукта: @Model.Mission</span>
    <br />
    <span>Формула продукта: @Model.ProductFormula</span>
</div>
<div class="metrics">
    <h2>Метрики</h2>
    @foreach (var metric in Model.Metrics)
    {
        <span>Название: @metric.Name</span>
        <span>Описание: @metric.Description</span>
        <br />
    }
    @{ 
        string text = (Model.Metrics.Count == 0) ? "Добавить новую НСМ метрику" : "Добавить новую метрику";
    }
    <button onclick="window.location.href = '../Metric/New?projectId=@Model.ProjectId'">@text</button>

</div>
<div class="sprints">
    <h2>Спринты</h2>
    @foreach (var sprint in Model.Sprints)
    {
        <span>Название: @sprint.Name</span><br />
    }
    <button onclick="window.location.href='../Sprint/New?projectId=@Model.ProjectId'">Добавить новый спринт</button>

</div>
<div class="features">
    <h2>Фичи</h2>

    <div class="features-do-now">
        <h5>Делаем сейчас</h5>
        @foreach (var feature in Model.Features.Where(x => x.Roadmap == Epico.Entity.RoadmapType.DoNow))
        {
            <div>
                <span>@feature.Name</span>
            </div>
        }
    </div>
    <div class="features-do-then">
        <h5>Делаем потом</h5>
        @foreach (var feature in Model.Features.Where(x => x.Roadmap == Epico.Entity.RoadmapType.DoThen))
        {
            <div>
                <span>@feature.Name</span>
            </div>
        }
    </div>
    <div class="features-do-newer">
        <h5>Делаем когда-нибудь</h5>
        @foreach (var feature in Model.Features.Where(x => x.Roadmap == Epico.Entity.RoadmapType.Newer))
        {
            <div>
                <span>@feature.Name</span>
            </div>
        }
    </div>

    <button onclick="window.location.href='../Feature/New?projectId=@Model.ProjectId'">Добавить новую фичу</button>
</div>
<div class="tasks">
    <h2>Задачи</h2>
    @foreach (var task in Model.Tasks)
    {
        <span>Название: @task.Name</span><br />
    }
    <button onclick="window.location.href='../Task/New?projectId=@Model.ProjectId'">Добавить новую задачу</button>
</div>
