@using Epico.Entity;
@model EditStateFeatureViewModel
@{
    ViewBag.Title = "Изменение статуса фичи";
}

<div class="tile is-2 is-vertical box" style="border: 5px;">
    <form method="post" asp-action="EditState" asp-controller="Feature">
        <input type="hidden" asp-for="FeatureId" />
        <div class="field">
            <label class="label" asp-for="State">Статус</label>
            <div class="control">
                <label class="radio">
                    <input type="radio" value="@FeatureState.Discovery" @Html.Raw(Model.Feature.State == FeatureState.Discovery ? "checked" : "") name="State" />
                    Discovery
                </label>
                <br />
                <label class="radio">
                    <input type="radio" value="@FeatureState.Development" @Html.Raw(Model.Feature.State == FeatureState.Development ? "checked" : "") name="State" />
                    Development
                </label>
                <br />
                <label class="radio">
                    <input type="radio" value="@FeatureState.Delivery" @Html.Raw(Model.Feature.State == FeatureState.Delivery ? "checked" : "") name="State" />
                    Delivery
                </label>
                <br />
            </div>
            <span asp-validation-for="State"></span>
        </div>

        <button class="button is-primary" type="submit">Сохранить</button>
    </form>
</div>