@using Epico.Entity
@model EditFeatureViewModel
@{
    ViewBag.Title = "Изменение фичи";
}
<div class="content is-medium">
    <h2>Изменение фичи</h2>
</div>
<div class="box">
    <form method="post" asp-action="Edit" asp-controller="Feature">
        <input type="hidden" asp-for="ProductId" />
        <div asp-validation-summary="ModelOnly"></div>

        <!--Название [input]-->
        <div class="field">
            <label class="label" asp-for="Name">Название</label>
            <div class="control">
                <input class="input" asp-for="Name" value="@Model.Name" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>

        <!--Описание [input]-->
        <div class="field">
            <label class="label" asp-for="Description">Описание</label>
            <div class="control">
                <input class="input" asp-for="Description" value="@Model.Description" />
                <span asp-validation-for="Description"></span>
            </div>
        </div>

        <!--Гипотеза [input]-->
        <div class="field">
            <label class="label" asp-for="Hypothesis">Гипотеза</label>
            <div class="control">
                <input class="input" asp-for="Hypothesis" value="@Model.Hypothesis" />
                <span asp-validation-for="Hypothesis"></span>
            </div>
        </div>

        <!--Выбор задач [checkbox]-->
        <div class="field">
            <label class="label" asp-for="Tasks">Выбор задач</label>
            <div class="control">
                @foreach (var task in Model.PosibleTasks)
                {
                    <label class="checkbox">
                        <input type="checkbox" value="@task.ID" name="Tasks" @Html.Raw(Model.Tasks.Contains(task.ID) ? "checked" : "") />
                        @task.Name
                    </label>
                    <br />
                }
            </div>
            <span asp-validation-for="Tasks"></span>
        </div>

        <!--Выбор метрик [checkbox]-->
        <div class="field">
            <label class="label" asp-for="Metrics">Выбор метрик</label>
            <div class="control">
                @foreach (var metric in Model.PosibleMetrics)
                {
                    <label class="radio">
                        <input type="radio" value="@metric.ID" name="Metrics" @Html.Raw(Model.Metrics.Contains(metric.ID) ? "checked" : "") />
                        @metric.Name
                    </label>
                    <br />
                }
            </div>
            <span asp-validation-for="Metrics"></span>
        </div>

        <!--Выбор статуса [radio]-->
        <div class="field">
            <label class="label" asp-for="State">Статус</label>
            <div class="control">
                <label class="radio">
                    <input type="radio" value="@FeatureState.NotStarted" @Html.Raw(Model.State == FeatureState.NotStarted ? "checked" : "") name="State" />
                    NotStarted
                </label>
                <label class="radio">
                    <input type="radio" value="@FeatureState.InProgress" @Html.Raw(Model.State == FeatureState.InProgress ? "checked" : "") name="State" />
                    InProgress
                </label>
                <label class="radio">
                    <input type="radio" value="@FeatureState.Closed" @Html.Raw(Model.State == FeatureState.Closed ? "checked" : "") name="State" />
                    Closed
                </label>
                <br />
            </div>
            <span asp-validation-for="State"></span>
        </div>

        <!--Выбор роадмапа [radio]-->
        <div class="field">
            <label class="label" asp-for="State">Роадмап</label>
            <div class="control">
                <label class="radio">
                    <input type="radio" value="@RoadmapType.Now" @Html.Raw(Model.Roadmap == RoadmapType.Now ? "checked" : "") name="Roadmap" />
                    Now
                </label>
                <label class="radio">
                    <input type="radio" value="@RoadmapType.Then" @Html.Raw(Model.Roadmap == RoadmapType.Then ? "checked" : "") name="Roadmap" />
                    Then
                </label>
                <label class="radio">
                    <input type="radio" value="@RoadmapType.After" @Html.Raw(Model.Roadmap == RoadmapType.After ? "checked" : "") name="Roadmap" />
                    After
                </label>
                <br />
            </div>
            <span asp-validation-for="State"></span>
        </div>

        <div class="has-text-centered">
            <button class="button is-primary">Сохранить</button>
        </div>
    </form>
</div>