@using Epico.Entity;
@model EditStateFeatureViewModel
@{
    ViewBag.Title = "Изменение статуса фичи";
}

<div class="tile is-2 is-vertical box" style="border: 5px;">
    <form method="post" asp-action="EditState" asp-controller="Feature">
        <input type="hidden" asp-for="FeatureId" />
        <div class="field">
            <label class="label" asp-for="State">Статус</label>
            <div class="control">
                <label class="radio">
                    <input type="radio" value="@FeatureState.Accepted" checked=@Model.State.Equals(FeatureState.Accepted) name="State" />
                    Accepted
                </label>
                <br />
                <label class="radio">
                    <input type="radio" value="@FeatureState.Discovery" checked=@Model.Feature.State.Equals(FeatureState.Discovery) name="State" />
                    Discovery
                </label>
                <br />
                <label class="radio">
                    <input type="radio" value="@FeatureState.Development" checked=@Model.Feature.State.Equals(FeatureState.Development) name="State" />
                    Development
                </label>
                <br />
                <label class="radio">
                    <input type="radio" value="@FeatureState.Delivery" checked=@Model.Feature.State.Equals(FeatureState.Delivery) name="State" />
                    Delivery
                </label>
                <br />
                <label class="radio">
                    <input type="radio" value="@FeatureState.Rejected" checked=@Model.State.Equals(FeatureState.Rejected) name="State" />
                    Rejected
                </label>
                <br />
            </div>
            <span asp-validation-for="State"></span>
        </div>

        <button class="button is-primary" type="submit">Сохранить</button>
    </form>
</div>