@using Epico.Entity
@model EditFeatureViewModel
@{
    ViewBag.Title = "Изменение фичи";
}
<div class="content is-medium">
    <h2>Изменение фичи</h2>
</div>
<div class="box word-break">
    <form method="post" asp-action="Edit" asp-controller="Feature">
        <input type="hidden" asp-for="FeatureId" />
        <div asp-validation-summary="ModelOnly"></div>

        <!--Название [input]-->
        <div class="field">
            <label class="label" asp-for="Name">Название</label>
            <div class="control">
                <input class="input" asp-for="Name" value="@Model.Name" />
                <span asp-validation-for="Name" class="error-message"></span>
            </div>
        </div>

        <!--Описание [input]-->
        <div class="field">
            <label class="label" asp-for="Description">Описание</label>
            <div class="control">
                <input class="input" asp-for="Description" value="@Model.Description" />
                <span asp-validation-for="Description" class="error-message"></span>
            </div>
        </div>

        <!--Выбор команды [checkbox]-->
        <div class="field">
            <label class="label" asp-for="UserIds">Выбор команды</label>
            <div class="control">
                @foreach (var user in Model.PosibleUsers)
                {
                    <label class="checkbox">
                        <input type="checkbox" value="@user.Id" name="UserIds" checked=@Model.UserIds.Contains(user.Id)/>
                        @user.UserName [@user.Position]
                    </label>
                    <br />
                }
            </div>
            <span asp-validation-for="UserIds" class="error-message"></span>
        </div>

        <!--Выбор метрик [checkbox]-->
        <div class="field">
            <label class="label" asp-for="MetricId">Выбор метрики</label>
            <div class="control">
                <label class="radio">
                    <input type="radio" value="0" name="MetricId" checked=@Model.MetricId.Equals(null) />
                    None
                </label>
                <br />
                @foreach (var metric in Model.PosibleMetrics)
                {
                    <label class="radio">
                        <input type="radio" value="@metric.ID" name="MetricId" checked=@Model.MetricId.Equals(metric.ID) />
                        @metric.Name
                    </label>
                    <br />
                }
            </div>
            <span asp-validation-for="MetricId" class="error-message"></span>
        </div>

        <!--Выбор статуса [radio]-->
        <div class="field">
            <label class="label" asp-for="State">Статус</label>
            <div class="control">
                <label class="radio">
                    <input type="radio" value="@FeatureState.Accepted" checked=@Model.State.Equals(FeatureState.Accepted) name="State" />
                    Accepted
                </label>
                <label class="radio">
                    <input type="radio" value="@FeatureState.Discovery" checked=@Model.State.Equals(FeatureState.Discovery) name="State" />
                    Discovery
                </label>
                <label class="radio">
                    <input type="radio" value="@FeatureState.Development" checked=@Model.State.Equals(FeatureState.Development) name="State" />
                    Development
                </label>
                <label class="radio">
                    <input type="radio" value="@FeatureState.Delivery" checked=@Model.State.Equals(FeatureState.Delivery) name="State" />
                    Delivery
                </label>
                <label class="radio">
                    <input type="radio" value="@FeatureState.Rejected" checked=@Model.State.Equals(FeatureState.Rejected) name="State" />
                    Rejected
                </label>
                <br />
            </div>
            <span asp-validation-for="State" class="error-message"></span>
        </div>
            
        @* 
        <!--Выбор роадмапа [radio]-->
        <div class="field">
            <label class="label" asp-for="State">Роадмап</label>
            <div class="control">
                <label class="radio">
                    <input type="radio" value="@RoadmapType.Now" checked=@Model.Roadmap.Equals(RoadmapType.Now) name="Roadmap" />
                    Now
                </label>
                <label class="radio">
                    <input type="radio" value="@RoadmapType.Then" checked=@Model.Roadmap.Equals(RoadmapType.Then) name="Roadmap" />
                    Then
                </label>
                <label class="radio">
                    <input type="radio" value="@RoadmapType.After" checked=@Model.Roadmap.Equals(RoadmapType.After) name="Roadmap" />
                    After
                </label>
                <br />
            </div>
            <span asp-validation-for="State" class="error-message"></span>
        </div>
        *@

        <div class="has-text-centered">
            <button class="button is-primary">Сохранить</button>
        </div>
    </form>
</div>