@model FeatureViewModel

@{
    ViewBag.Title = "Features";
}

<div class="column box gray-container">
    <h2 class="bold">Команды для задач</h2>
    <br />
    @if (Model.TaskError)
    {
        <span class="error-message">*Нельзя создать фичу без указания задач</span>
        <br />
    }
    @if (Model.MetricError)
    {
        <span class="error-message">*Нельзя создать фичу без указания метрики</span>
        <br />
    }
    @foreach (var feature in Model.Features)
    {
        <div class="box word-break">
            <p>@feature.Name [@feature.State.ToString()]</p>
            <p>@feature.Description</p>
            <form method="get" asp-action="EditState" asp-controller="Feature">
                <input type="hidden" asp-for="FeatureId" value="@feature.ID" />
                <button>Change status</button>
            </form>
            <form method="get" asp-action="Edit" asp-controller="Feature">
                <input type="hidden" asp-for="FeatureId" value="@feature.ID" />
                <button>Change feature</button>
            </form>
            <form method="get" asp-action="Delete" asp-controller="Feature">
                <input type="hidden" asp-for="FeatureId" value="@feature.ID" />
                <button>Delete feature</button>
            </form>
        </div>
    }

    <form method="get" onclick="this.submit()" asp-action="New" asp-controller="Feature">
        <div class="is-flex center-element">
            <img class="plus-button" src="~/img/plus.svg" />
        </div>
    </form>
</div>