@model FeatureViewModel

@{
    ViewBag.Title = "Features";
}

<div class="column box gray-container">
    <div class="container-text-button">
        <span class="bold">Список всех фич </span>
        <div class="container-text-button_button">
            <a class="is-32-height"
               asp-controller="Feature"
               asp-action="New">
                <img class="plus-button" src="~/img/plus-square.svg" />
            </a>
        </div>
    </div>
    @if (Model.TaskError)
    {
        <span class="error-message">*Нельзя создать фичу без указания задач</span>
        <br />
    }
    @if (Model.MetricError)
    {
        <span class="error-message">*Нельзя создать фичу без указания метрики</span>
        <br />
    }
    @foreach (var feature in Model.Features)
    {
        <div class="box word-break">
            <div class="columns">
                <div class="column is-four-fifths">
                    <!--Информация о фиче-->
                    <p><span class="bold">Название: </span>@feature.Name</p>
                    <p><span class="bold">Описание: </span>@feature.Description</p>
                    <div class="container-text-button">
                        <span><span class="bold">Статус фичи:</span> [@feature.State]</span>
                        <div class="container-text-button_button">
                            <a class="is-24-height"
                               asp-controller="Feature"
                               asp-action="EditState"
                               asp-route-id="@feature.ID">
                                <img class="status-button" src="~/img/status.svg" />
                            </a>
                        </div>
                    </div>
                    <p class="bold">Привязанная метрика:</p>
                    <p>@feature.Metric.Name</p>

                    <!--Список задач-->
                    <div>
                        <div class="container-text-button">
                            <span class="bold">Список задач: </span>
                            <div class="container-text-button_button">
                                <a class="is-24-height"
                                   asp-controller="Feature"
                                   asp-action="NewTask"
                                   asp-route-id="@feature.ID">
                                    <img class="plus-button" src="~/img/plus.svg" />
                                </a>
                            </div>
                        </div>
                        <div>
                            @if (feature.Tasks.Count == 0)
                            {
                                <p>Здаесь пока нет задач.</p>
                            }
                            else
                            {
                                <table>
                                    <tbody>
                                        <tr>
                                            <th></th>
                                            <th width="100px"></th>
                                            <th width="25px"></th>
                                            <th width="25px"></th>
                                        </tr>

                                        @foreach (var task in feature.Tasks)
                                        {
                                            @if (!task.HasResponsibleUser)
                                            {
                                                <tr>
                                                    <td class="error-message"> *Ответственный не назначен</td>
                                                </tr>
                                            }
                                            <tr>
                                                <td>@task.Name</td>
                                                <td>[@task.State]</td>
                                                <td>
                                                    <a class="is-24-height"
                                                       asp-controller="Feature"
                                                       asp-action="EditTask"
                                                       asp-route-id="@feature.ID"
                                                       asp-route-taskId="@task.ID">
                                                        <img class="edit-button" src="~/img/edit.svg" />
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="is-24-height"
                                                       asp-controller="Feature"
                                                       asp-action="DeleteTask"
                                                       asp-route-id="@feature.ID"
                                                       asp-route-taskId="@task.ID">
                                                        <img class="delete-button" src="~/img/trash.svg" />
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                    <!--Список юзеров в команде фичи-->
                    <div>
                        <p class="bold">Продуктовая команда фичи: </p>
                        @if (feature.Users.Count == 0)
                        {
                            <p class="error-message">*Из команды удалены все сотрудники</p>
                        }
                        else
                        {
                            @foreach (var user in feature.Users)
                            {
                                <p>@user.UserName [@user.Position]</p>
                            }
                        }
                    </div>
                </div>
                <div class="column">
                    <!--Кнопки для взаимодействия с фичей-->
                    <a class="button is-red is-fullwidth" style="margin-bottom: 0.5%"
                       asp-controller="Feature"
                       asp-action="Edit"
                       asp-route-id="@feature.ID">Change feature</a>
                    <a class="button is-red is-fullwidth" style="margin-bottom: 0.5%"
                       asp-controller="Feature"
                       asp-action="Delete"
                       asp-route-id="@feature.ID">Delete feature</a>
                </div>
            </div>
        </div>
    }
</div>