@using Epico.Entity;
@model NewFeatureViewModel
@{
    ViewBag.Title = "Добавление фичи";
}

    <!--has-text-centered-->
<div class="content is-medium ">
    <h2>Добавление новой фичи</h2>
</div>
<div class="box">
    <form method="post" asp-controller="Feature" asp-action="New">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="field">
            <label class="label" asp-for="Name">Название</label>
            <div class="control">
                <input class="form-control input" asp-for="Name" />
                <span asp-validation-for="Name" class="error-message"></span>
            </div>
        </div>

        <div class="field">
            <label class="label" asp-for="Description">Описание</label>
            <div class="control">
                <input class="input" asp-for="Description" />
                <span asp-validation-for="Description" class="error-message"></span>
            </div>
        </div>

        <div class="field">
            <label class="label" asp-for="Hypothesis">Гипотеза</label>
            <div class="control">
                <input class="input" asp-for="Hypothesis" />
                <span asp-validation-for="Hypothesis" class="error-message"></span>
            </div>
        </div>

        <div class="field">
            <label class="label" asp-for="Tasks">Выбор задач</label>
            <div class="control">
                @foreach (var task in Model.PosibleTasks)
                {
                    <label class="checkbox">
                        <input type="checkbox" value="@task.ID" name="Tasks" />
                        @task.Name
                    </label>
                    <br />
                }
            </div>
            <span asp-validation-for="Tasks" class="error-message"></span>
        </div>

        <div class="field">
            <label class="label" asp-for="MetricId">Выбор метрик</label>
            <div class="control">
                @foreach (var metric in Model.PosibleMetrics)
                {
                    <label class="radio">
                        <input type="radio" value="@metric.ID" name="MetricId" />
                        @metric.Name
                    </label>
                    <br />
                }
            </div>
            <span asp-validation-for="MetricId" class="error-message"></span>
        </div>

        <div class="field">
            <label class="label" asp-for="Roadmap">Выбор типа роадмапа</label>
            <div class="control">
                <label class="radio">
                    <input type="radio" value="@RoadmapType.Now" checked name="Roadmap" />
                    Now
                </label>
                <label class="radio">
                    <input type="radio" value="@RoadmapType.Then" name="Roadmap" />
                    Then
                </label>
                <label class="radio">
                    <input type="radio" value="@RoadmapType.After" name="Roadmap" />
                    After
                </label>
            </div>
            <span asp-validation-for="Roadmap" class="error-message"></span>
        </div>

        <div class="has-text-centered">
            <button class="button is-primary">Создать</button>
        </div>
    </form>
</div>