@model Epico.Entity.Feature
@{
    ViewBag.Title = "Просмотр фичи";
}
<div class="content is-medium">
    <h2>Просмотр фичи</h2>
</div>
<div class="box word-break">
    <div class="columns">
        <div class="column is-four-fifths">
            <div class="word-break">
                <span><span class="bold">Название: </span>@Model.Name</span>
            </div>
            <div class="word-break">
                <span><span class="bold">Описание: </span>@Model.Description</span>
            </div>
            <div class="word-break">
                <span class="bold">Продуктовая команда фичи: </span>
            </div>
            <div class="word-break">
                @foreach (var user in Model.Users)
                {
                    <span>@user.UserName [@user.Position]</span><br />
                }
            </div>
            <div class="word-break">
                <span class="bold">Привязанная метрика:</span><br />
                <span>@Model.Metric.Name</span>
            </div>
            <div class="word-break">
                <span><span class="bold">Статус фичи: </span>@Model.State</span>
            </div>

        </div>
        @if (User.IsInRole("Manager"))
        {
            <div class="column">
                <!--Кнопки для взаимодействия с фичей-->
                <a class="button is-red is-fullwidth" style="margin-bottom: 0.5%"
                   asp-controller="Feature"
                   asp-action="Edit"
                   asp-route-id="@Model.ID">Edit feature</a>
                <a class="button is-red is-fullwidth" style="margin-bottom: 0.5%"
                   asp-controller="Feature"
                   asp-action="Delete"
                   asp-route-id="@Model.ID">Delete feature</a>
            </div>
        }
    </div>
</div>