@model Epico.Entity.Feature
@{
    ViewBag.Title = "Просмотр фичи";
}
<div class="content is-medium">
    <h2>Просмотр фичи</h2>
</div>
<div class="box word-break">
    <div class="word-break">
        <span><span class="bold">Название: </span>@Model.Name</span>
    </div>
    <div class="word-break">
        <span><span class="bold">Описание: </span>@Model.Description</span>
    </div>
    <div class="word-break">
        <span class="bold">Продуктовая команда фичи: </span>
    </div>
    <div class="word-break">
        @foreach (var user in Model.Users)
        {
            <span>@user.UserName [@user.Position]</span><br />
        }
    </div>
    <div class="word-break">
        <span class="bold">Привязанная метрика:</span><br />
        <span>@Model.Metric.Name</span>
    </div>
    <div class="word-break">
        <span><span class="bold">Статус фичи: </span>@Model.State</span>
    </div>
</div>