@using Epico.Entity;
@model EditStateTaskViewModel
@{
    ViewBag.Title = "Edit task state";
}

<div class="tile is-2 is-vertical box" style="border: 5px;">
    <form method="post" asp-action="EditState" asp-controller="Task">
        <input type="hidden" asp-for="TaskId" />
        <div class="field">
            <label class="label" asp-for="State">State</label>
            <div class="control">
                <label class="radio">
                    <input type="radio" value="@TaskState.NotStarted" @Html.Raw(Model.Task.State == TaskState.NotStarted ? "checked" : "") name="State" />
                    NotStarted
                </label>
                <br />
                <label class="radio">
                    <input type="radio" value="@TaskState.InProgress" @Html.Raw(Model.Task.State == TaskState.InProgress ? "checked" : "") name="State" />
                    InProgress
                </label>
                <br />
                <label class="radio">
                    <input type="radio" value="@TaskState.Closed" @Html.Raw(Model.Task.State == TaskState.Closed ? "checked" : "") name="State" />
                    Closed
                </label>
                <br />
            </div>
            <span asp-validation-for="State"></span>
        </div>

        <button class="button is-primary" type="submit">Save</button>
    </form>
</div>