@model EditTaskViewModel
@{
    ViewBag.Title = "Измнение задачи";
}

<div class="content is-medium">
    <h2>Изменение задачи</h2>
</div>
<div class="box">
    <form method="post" asp-controller="Task" asp-action="Edit">
        <input type="hidden" asp-for="TaskId" />
        <div class="field">
            <label class="label" asp-for="Name">Название задачи</label>
            <div class="control">
                <input class="input" asp-for="Name" value="@Model.Name" />
                <span asp-validation-for="Name" class="error-message"></span>
            </div>
        </div>
        <div class="field">
            <label class="label" asp-for="Description">Описание</label>
            <div class="control">
                <input class="input" asp-for="Description" value="@Model.Description" />
                <span asp-validation-for="Description" class="error-message"></span>
            </div>
        </div>
        <br />
        <div class="field">
            <label class="label" asp-for="Users">Команда для задачи</label>
            <div class="control">
                @foreach (var user in Model.PosibleUsers)
                {
                    <label class="checkbox">
                        <input type="checkbox" value="@user.Id" name="Users" @Html.Raw(Model.Users.Contains(user.Id) ? "checked" : "") />
                        @user.UserName [@user.Position]
                    </label>
                    <br />
                }
                <span asp-validation-for="Users" class="error-message"></span>
            </div>
        </div>
        <br />
        <div class="field">
            <label class="label" asp-for="DeadLine">Дедлайн</label>
            <div class="control">
                <input type="datetime-local" asp-for="DeadLine" value="@Model.DeadLine" />
                <span asp-validation-for="DeadLine" class="error-message"></span>
            </div>
        </div>

        <div class="field">
            <label class="label" asp-for="State">Состояние задачи</label>
            <div class="control">
            @foreach (var state in Model.StateTypes)
            {
                <label class="radio">
                    <input type="radio" name="state" @Html.Raw(Model.State.Equals(state) ? "checked" : "")>
                    @state.ToString()
                </label>
            }
            </div>
            <span asp-validation-for="State"></span>
        </div>

        <div class="has-text-centered">
            <button class="button is-primary">Сохранить</button>
        </div>
    </form>
</div>