@model TaskViewModel
@{
    ViewBag.Title = "Tasks";
}

<div class="column box" style="background: #ededed; margin: 10px;">
    <span><strong>Tasks</strong></span>

    <!--Раскоментить когда релизную версию выкатывать будем-->
    @foreach (var task in Model.Tasks)
    {
        <div class="box" style="word-break: break-all">
            <p>@task.Name [@task.State]</p>
            <p>@task.Description</p>
            <form method="get" asp-action="EditState" asp-controller="Task">
                <input type="hidden" asp-for="TaskId" value="@task.ID"/>
                <button >Change status</button>
            </form>
            <form method="get" asp-action="Edit" asp-controller="Task">
                <input type="hidden" asp-for="TaskId" value="@task.ID"/>
                <button >Change task</button>
            </form>
            <form method="get" asp-action="Delete" asp-controller="Task">
                <input type="hidden" asp-for="TaskId" value="@task.ID"/>
                <button >Delete task</button>
            </form>
        </div>
    }

    <form method="get" onclick="this.submit()" asp-action="New" asp-controller="Task">
        <div class="is-flex" style="justify-content: center;">
            <!--костыль чтоб курсор менялся-->
            <a>
                <input type="hidden" asp-for="ProductId" />
                <img src="~/img/plus.svg" />
            </a>
        </div>
    </form>
</div>