@model TaskViewModel
@{
    ViewBag.Title = "Tasks";
}

<div class="column box gray-container">
    <div class="container-text-button">
        <span class="bold">Список всех задач </span>
        @if (User.IsInRole("Manager"))
        {
            <div class="container-text-button_button">
                <a class="is-32-height"
                   asp-controller="Task"
                   asp-action="New">
                    <img class="plus-button" src="~/img/plus-square.svg" />
                </a>
            </div>
        }
    </div>
    @if (Model.Error)
    {
        <span class="error-message">*Для создания задачи нужно обязательно указывать людей для команды</span>
        <br />
    }
    <!--Раскоментить когда релизную версию выкатывать будем-->
    @foreach (var task in Model.Tasks)
    {
        <div class="box word-break">
            <div class="columns">
                <div class="column is-four-fifths">
                    <p><span class="bold">Название: </span>@task.Name</p>
                    <p><span class="bold">Описание: </span>@task.Description</p>
                    <div class="container-text-button">
                        <span><span class="bold">Статус задачи: </span>[@task.State]</span>
                        @if (User.IsInRole("Manager"))
                        {
                            <div class="container-text-button_button">
                                <a class="is-24-height"
                                   asp-controller="Task"
                                   asp-action="EditState"
                                   asp-route-id="@task.ID">
                                    <img class="status-button" src="~/img/status.svg" />
                                </a>
                            </div>
                        }
                    </div>
                    <span class="bold">Ответственный за задачу: </span>
                    @if (task.HasResponsibleUser)
                    {
                        <span>@task.ResponsibleUser.UserName [@task.ResponsibleUser.Position]</span>
                    }
                    else
                    {
                        <span class="error-message">*Не назначен</span>
                    }
                </div>
                @if (User.IsInRole("Manager"))
                {
                    <div class="column">
                        <!--Кнопки для взаимодействия с задачей-->
                        <a class="button is-red is-fullwidth" style="margin-bottom: 0.5%"
                           asp-controller="Task"
                           asp-action="Edit"
                           asp-route-id="@task.ID">Edit task</a>
                        <a class="button is-red is-fullwidth" style="margin-bottom: 0.5%"
                           asp-controller="Task"
                           asp-action="Delete"
                           asp-route-id="@task.ID">Delete task</a>
                    </div>
                }
            </div>
        </div>
    }
</div>