@model TaskViewModel
@{
    ViewBag.Title = "Tasks";
}

<div class="column box gray-container" >
    <h2 class="bold">Список всех задач</h2>
    <br />
    @if (Model.Error) 
    { 
        <span class="error-message">*Для создания задачи нужно обязательно указывать людей для команды</span>
        <br />
    }
    <!--Раскоментить когда релизную версию выкатывать будем-->
    @foreach (var task in Model.Tasks)
    {
        <div class="box word-break">
            <p>@task.Name [@task.State]</p>
            <p>@task.Description</p>
            <p class="bold">Команда задачи:</p>
            <ul>
            @foreach (var user in task.Team)
            {
                <li>@user.UserName [@user.Position]</li>
            }
            </ul>
            <form method="get" asp-action="EditState" asp-controller="Task">
                <input type="hidden" asp-for="TaskId" value="@task.ID" />
                <button class="button is-primary is-small" style="margin-bottom: 0.5%">Change status</button>
            </form>
            <form method="get" asp-action="Edit" asp-controller="Task">
                <input type="hidden" asp-for="TaskId" value="@task.ID" />
                <button class="button is-primary is-small" style="margin-bottom: 0.5%">Change task</button>
            </form>
            <form method="get" asp-action="Delete" asp-controller="Task">
                <input type="hidden" asp-for="TaskId" value="@task.ID" />
                <button class="button is-primary is-small" style="margin-bottom: 0.5%">Delete task</button>
            </form>
        </div>
    }

    <form method="get" onclick="this.submit()" asp-action="New" asp-controller="Task">
        <div class="is-flex center-element">
            <img class="plus-button" src="~/img/plus.svg" />
        </div>
    </form>
</div>