@model ProductViewModel

@{
    ViewBag.Title = "View product";
}

<div class="product-section">
    <section class="section description">
        <div class="columns">
            <div class="column is-four-fifths">
                <h2 class="subtitle product-title">
                    @Model.Name
                </h2>
            </div>
            @if (User.IsInRole("Manager"))
            {
                <div class="column">
                    <a class="button is-red is-fullwidth" style="margin-bottom: 0.5%"
                       asp-controller="Product"
                       asp-action="Edit"
                       asp-route-id="@Model.ProductId">Edit Product</a>
                </div>
            }
        </div>
    </section>

    <!-- Tab links -->
    <div class="tabsNew">
        <button class="tabs__button" onclick="openInformation(event, 'content-1')">Vision</button>
        <button class="tabs__button" onclick="openInformation(event, 'content-2')">Mission</button>
        <button class="tabs__button" onclick="openInformation(event, 'content-3')">Product formula</button>
    </div>

    <!-- Tab content -->
    <div id="content-1" class="tabcontent" style="display: none;">
        <span>@Model.Vision</span>
    </div>

    <div id="content-2" class="tabcontent" style="display: none;">
        <span>@Model.Mission</span>
    </div>

    <div id="content-3" class="tabcontent" style="display: none;">
        <span>@Model.ProductFormula</span>
    </div>
</div>

