@model ProductViewModel

@{
    ViewBag.Title = "Просмотр продукта";
}

<div class="product-section">
    <section class="section description">
        <div class="columns">
            <div class="column is-four-fifths">
                <h2 class="subtitle product-title">
                    @Model.Name
                </h2>
            </div>
            @if (User.IsInRole("Manager"))
            {
                <div class="column">
                    <a class="button is-red is-fullwidth" style="margin-bottom: 0.5%"
                       asp-controller="Product"
                       asp-action="Edit"
                       asp-route-id="@Model.ProductId">Edit Product</a>
                </div>
            }
        </div>
    </section>


    <!--<div class="tabs white-space-fix">-->
    @*<div id="content-1" class="word-break">
            @Model.Vision
        </div>
        <div id="content-2" class="word-break">
            @Model.Mission
        </div>
        <div id="content-3" class="word-break">
            @Model.ProductFormula
        </div>*@

    <!--<div class="tabs__links">
            <a href="#content-1">Видение</a>
            <a href="#content-2">Миссия</a>
            <a href="#content-3">Формула</a>
        </div>
    </div>-->
    <!-- Tab links -->
    <div class="tabsNew">
        <button class="tabs__button" onclick="openInformation(event, 'content-1')">Видение</button>
        <button class="tabs__button" onclick="openInformation(event, 'content-2')">Миссия</button>
        <button class="tabs__button" onclick="openInformation(event, 'content-3')">Формула</button>
    </div>

    <!-- Tab content -->
    <div id="content-1" class="tabcontent" style="display: none;">
        <span>@Model.Vision</span>
    </div>

    <div id="content-2" class="tabcontent" style="display: none;">
        <span>@Model.Mission</span>
    </div>

    <div id="content-3" class="tabcontent" style="display: none;">
        <span>@Model.ProductFormula</span>
    </div>
</div>

