@model EditMetricViewModel

@{
    ViewBag.Title = "Изменение метрики";
}

<div class="content is-medium">
    <h2>Изменение метрики</h2>
</div>
<div>
    <form method="post" asp-controller="Metric" asp-action="Edit">
        <input type="hidden" asp-for="MetricId" />
        <div asp-validation-summary="ModelOnly"></div>
        <div class="field">
            <label class="label" asp-for="Name">Название</label>
            <div class="control">
                <input class="input" asp-for="Name" value="@Model.Name" />
                <span asp-validation-for="Name" class="error-message"></span>
            </div>
        </div>
        <div class="field">
            <label class="label" asp-for="Description">Описание</label>
            <div class="control">
                <input class="input" asp-for="Description" value="@Model.Description" />
                <span asp-validation-for="Description" class="error-message"></span>
            </div>
        </div>
        @if (Model.PosibleParentMetrics?.Count != 0 && !Model.IsNSM)
        {
            <div class="field">
                <label class="label" asp-for="ParentMetricId">Родительская метрика</label>
                <div class="select">
                    <select asp-for="ParentMetricId">
                        <option selected hidden></option>
                    @foreach (var parent in Model.PosibleParentMetrics)
                    {
                        if (Model.ParentMetricId == parent.ID)
                        {
                            <option selected value="@parent.ID">@parent.Name</option>
                        }
                        else
                        {
                            <option value="@parent.ID">@parent.Name</option>
                        }
                    }
                    </select>
                    <span asp-validation-for="ParentMetricId" class="error-message"></span>
                </div>
            </div>
        }
        <br />
        <div class="has-text-centered">
            <button class="button is-primary">Сохранить</button>
        </div>
    </form>
</div>