@model EditMetricViewModel

@{
    ViewBag.Title = "Изменение метрики";
}

<form method="post" asp-controller="Metric" asp-action="Edit">
    <input type="hidden" asp-for="ProjectId" />
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name">Название</label><br />
        <input asp-for="Name" value="@Model.Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Description">Описание</label><br />
        <input asp-for="Description" value="@Model.Description"/>
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <label asp-for="ParentMetricId">Родительская метрика</label><br />
        <select disabled="@Model.PosibleParentMetrics.Count.Equals(0)" asp-for="ParentMetricId">
            <option></option>
            @foreach (var parent in Model.PosibleParentMetrics)
            {
                if (Model.ParentMetricId == parent.ID)
                {
                    <option selected value="@parent.ID">@parent.Name</option>
                }
                else
                {
                    <option value="@parent.ID">@parent.Name</option>
                }

            }
        </select>
        <span asp-validation-for="ParentMetricId"></span>
    </div>
    <div>
        <input type="submit" value="Сохранить" />
    </div>
</form>
