@model HypothesisViewModel

@{
    ViewBag.Title = "Hypotheses";
}

<div class="column box gray-container">
    <h2 class="bold">Список всех гипотез</h2>
    <br />
    @foreach (var hypothisis in Model.Hypothisis)
    {
    <div class="box word-break">
        <!--Информация о фиче-->
        <p>@hypothisis.Name</p>
        <p>@hypothisis.Description</p>
        <p class="bold">Привязанная метрика:</p>
        <p>@hypothisis.Metric.Name</p>

        <!--Список задач-->
        <div>
            <div class="container-text-button">
                <span class="bold">Список задач:</span>
                <form method="get" onclick="this.submit()" asp-action="NewTask" asp-controller="Hypothesis">
                    <div class="is-flex container-text-button_button">
                        <input type="hidden" asp-for="HypothisisId" value="@hypothisis.ID" name="hypothisisId" />
                        <img class="plus-button" src="~/img/plus.svg" />
                    </div>
                </form>
            </div>
            <div>
                @if (hypothisis.Tasks.Count == 0)
                {
                    <p>Здаесь пока нет задач.</p>
                } 
                else 
                { 
                    @foreach (var task in hypothisis.Tasks)
                    {
                        <p>@task.Name</p>
                    }
                }
            </div>
        </div>

        <!--Список юзеров в команде фичи-->
        <div>
            <p class="bold">Продуктовая команда гипотезы:</p>
            @foreach (var user in hypothisis.Users)
            {
                <p>@user.UserName [@user.Position]</p>
            }
        </div>

        <!--Кнопки для взаимодействия с фичей-->
        <form method="get" asp-action="Edit" asp-controller="Hypothisis">
            <input type="hidden" asp-for="HypothisisId" value="@hypothisis.ID" />
            <button class="button is-primary is-small" style="margin-bottom: 0.5%">Change hypothisis</button>
        </form>
        <form method="get" asp-action="Delete" asp-controller="Hypothisis">
            <input type="hidden" asp-for="HypothisisId" value="@hypothisis.ID" />
            <button class="button is-primary is-small" style="margin-bottom: 0.5%">Delete hypothisis</button>
        </form>
    </div>
    }

    <!-- Кнопка добавления новой фичи и по совместительству гипотезы-->
    <div class="is-flex center-element">
        <a class="image is-24x24" asp-action="New" asp-controller="Hypothesis">
            <img class="plus-button" src="~/img/plus.svg" />
        </a>
    </div>
</div>