@using Epico.Entity;
@model RoadMapViewModel
@{
    ViewBag.Title = "RoadMap";
}

<div class="columns">
    <div class="column box gray-container">
        <div class="container-text-button">
            <span class="bold">Now</span>
            <!--Кнопка для добавления фичи в Now-->
            @if (User.IsInRole("Manager"))
            {
                <a class="button add-button is-gray is-40-height"
                   asp-controller="RoadMap"
                   asp-action="AddFeature"
                   asp-route-id="0">
                    Add feature
                </a>
            }
        </div>
        @foreach (var feature in Model.Features.Where(x => x.Roadmap == RoadmapType.Now))
        {
            <div class="box word-break none-padding">
                <a class="button is-fullwidth roadmap-button" asp-controller="Feature"
                   asp-action="Show"
                   asp-route-id="@feature.ID">@feature.Name</a>
            </div>
        }
    </div>
    <div class="column box gray-container">
        <div class="container-text-button">
            <span class="bold">Then</span>
            <!--Кнопка для добавления фичи в Then-->
            @if (User.IsInRole("Manager"))
            {
                <a class="button add-button is-gray is-40-height"
                   asp-controller="RoadMap"
                   asp-action="AddFeature"
                   asp-route-id="1">
                    Add feature
                </a>
            }
        </div>
        @foreach (var feature in Model.Features.Where(x => x.Roadmap == RoadmapType.Then))
        {
            <div class="box word-break none-padding">
                <a class="button is-fullwidth roadmap-button" asp-controller="Feature"
                   asp-action="Show"
                   asp-route-id="@feature.ID">@feature.Name</a>
            </div>
        }
    </div>
    <div class="column box gray-container">
        <div class="container-text-button">
            <span class="bold">After</span>
            <!--Кнопка для добавления фичи в After-->
            @if (User.IsInRole("Manager"))
            {
                <a class="button add-button is-gray is-40-height"
                   asp-controller="RoadMap"
                   asp-action="AddFeature"
                   asp-route-id="2">
                    Add feature
                </a>
            }
        </div>
        @foreach (var feature in Model.Features.Where(x => x.Roadmap == RoadmapType.After))
        {
            <div class="box word-break none-padding">
                <a class="button is-fullwidth roadmap-button" asp-controller="Feature"
                   asp-action="Show"
                   asp-route-id="@feature.ID">@feature.Name</a>
            </div>
        }
    </div>
</div>